<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0ed3cf">
    <meta name="msapplication-TileColor" content="#0ed3cf">
    <meta name="theme-color" content="#0ed3cf">

    <meta property="og:image" content="https://tailwindcomponents.com/storage/1335/temp21731.png?v=2021-11-23 21:07:52"/>
    <meta property="og:image:width" content="1280"/>
    <meta property="og:image:height" content="640"/>
    <meta property="og:image:type" content="image/png"/>

    <meta property="og:url" content="https://tailwindcomponents.com/component/app-sidebar-with-sub-navigation/landing"/>
    <meta property="og:title" content="App Sidebar with sub-navigation by khatabwedaa"/>
    <meta property="og:description" content="App sidebar with sub-navigation elements with AlpineJS"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@TwComponents"/>
    <meta name="twitter:title" content="App Sidebar with sub-navigation by khatabwedaa"/>
    <meta name="twitter:description" content="App sidebar with sub-navigation elements with AlpineJS"/>
    <meta name="twitter:image" content="https://tailwindcomponents.com/storage/1335/temp21731.png?v=2021-11-23 21:07:52"/>

    <title>App Sidebar with sub-navigation by khatabwedaa. </title>

    <link rel="stylesheet" href="https://tailwindcomponents.com/css/component.sidebar-with-sublinks.css">
</head>
<body class="bg-gray-200">

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div class="bg-gray-200 font-sans">
    <div class="flex flex-col sm:flex-row sm:justify-around">


        <div class="w-64 h-screen bg-gray-800">
            <div class="flex items-center justify-center mt-10">
                <img class="h-6" src="https://premium-tailwindcomponents.netlify.app/assets/svg/tailwindcomponent-light.svg">
            </div>

            <nav class="mt-10">
                <div>
                    <button @click="open = !open" class="w-full flex justify-between items-center py-3 px-6 text-gray-100 cursor-pointer hover:bg-gray-700 hover:text-gray-100 focus:outline-none">
                        <span class="flex items-center">
                            <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>

                            <span class="mx-4 font-medium">Dashboard</span>
                        </span>
                        <span>
                            <svg class="h-4 w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 5L16 12L9 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: none;"></path>
                                <path d="M19 9L12 16L5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </button>
                    <div class="bg-gray-700">
                        <a class="py-2 px-16 block text-sm text-gray-100 hover:bg-blue-500 hover:text-white" href="#">Manage
                            Accounts</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
